<ul>

  <% @links.sort_by_score.each do |link| %>

    <li>
      <%= link_to "Upvote", "/links/#{link.id}/upvote", method: 'patch'%>
      <p> Upvotes: <%= link.votes %> </p>
      <p> <%= link_to link.name, link_path(link) %> </p>
      <p> <%= link.url %> </p>
    </li>
  <% end %>

</ul>

<%= link_to "Submit Link", new_link_path, class: "btn btn-success" %>
