<h3><%= @link.name %></h3>
<h5><%= @link.url %></h5>
<hr>
<p><%= @link.description %></p>

<hr>
<% if @link.comments.length > 0 %>
<h5>Comments</h5>
  <% @link.comments.each do |comment| %>
    <li><%= comment.description %> <%= link_to "(remove)", link_comment_path(@link, comment), method: "delete" %><%= link_to "(edit)", edit_link_comment_path(@link, comment) %></li>
  <% end %>
<% end %>
<br>
<br>
<%= link_to "Comment", new_link_comment_path(@link), class: 'btn btn-success' %>
<%= link_to "Edit", edit_link_path(@link), class: 'btn btn-info' %>
<%= link_to "Delete", link_path(@link), method: "delete", class: 'btn btn-danger' %>
